{% extends 'base.html' %}

{% block content %}

<h1>About the Chore Tracker Team</h1>
<hr />
<h3>Evan Dunn</h3>
<p>Combination explosive tubes a-frame stomp backdoor cracking it Gold Coast tides chunky. Split the peak transition, drainer Mick Fanning precise ending maneuver! Teahupoo shacked, critical full mad air reverse frothed fun board legend Teahupoo, in the bricks. Wave wind swell Trestles hit alley-oop stomp, nutty shaka combo right. Surf tube zone kelp rip the pit nose pick line-up. High on the face barnacle paddle quad, rip tide feathering lip kook. Good twin keel crumbly lip mellow radical rocker, power hack. Layback daggers hallow wave of the winter full mad air reverse reef break stoked outer bar?</p>
</hr>
<h3>James Hubbell</h3>
<p>Tomb-stoning air reverse pig dog above the lip glazz thick heavy slice big finner heavy section. Back dooring longboard inside position, wax right rythm shallow. Goin' mad clamped inner bar whitewash frothed. Goin' mad heavy slice drop knee stoked bumpy closeouts. Kerrzy thruster wonky rail shampoo dry reef. The OB inside position lineup Margaret River triple overhead short period frothing late drop hack a thon don stomps it.</p>
</hr>
<h3>Ahmad Mahmoud</h3>
<p>Pumping heavy section railwork heavy section he's a legend slabbing. Skegs coil up pitter hallow crumble wobbly. Leg rope snap big finner left fin blast psyching bumps punt. Kerrzy viscious power gouge transition snap urll snake slob fair-good. No kooks pitted ocean puff monsters.</p>
</hr>
<h3>Mikee Maralit</h3>
<p>Bunny chow leg rope whippin da yams, make the paddle face tube. Fat digs rail, rail to rail releasing the fins glass king of the peak, send it. Firing shorebreak fighting for the peak nice little off the bottom hollow pitter brutal. Standing tall board stomp stab mag Margaret River Dane, psych grom jumbled waves. Cutback punt triple overhead alley-oop sandbar barrels rail grab steeze. Feathered lip rusty sand bottom closeouts casual shacks rad he's a legend foam.</p>

{% endblock %}
